body {
    font-family: roboto, sans-serif;
    margin: 0;

}

.hero{
    background-color: #1F2937;
    padding: 16px 24px;
}

/* Adjust header by removing padding, adding max-width and changing margin & Justify content properties to align with call-to-action section */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    list-style: none;
    padding: 0px;
    gap: 16px;
    margin-left: auto;
}

a {
    text-decoration: none;
}

.main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 350px;
    margin: 0px;
}

.sec-text, a{
    font-size: 18px;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    flex-shrink: 0;
}
/* Change the padding, margin and justify content properties */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0px;
    /* flex-wrap: wrap; */
}

.my-image{
    width: 600px;
    height: 234px;
    background-color: gray;
}

.sign-up{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    gap: 10px;

}

.sec-text {
    width: 450px;
    height: auto;
    margin: 0px;
} 

.btn, .white-btn{
    width: 140px;
    height: auto;
    background-color: #3882F6;
    border: none;
    color: #E5E7EB;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}

.info{
    text-align: center;
    height: fit-content;
    margin-bottom: 120px;
}

.info-head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 60px 0;
}

.content{
    display: flex;
    justify-content: center;
    gap: 80px;
}


/*.info-image {
    width: 200px;
    height: 200px;
} */

.info-image {
    /* border: 2px solid #3882F6;  */
    border-radius: 8px;
    width: 200px;
    height: 200px;
}

.subtext {
    color: #606163;
    padding: 10px 0px;
}

.quote {
    background-color: #E5E7EB;
    padding: 120px 0px;
}

.quote-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 840px;
    margin: auto;
}

.cite {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}
.ref{
    align-self: flex-end;
    font-weight: 600;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0px;
}

.action {
    display: flex;
    background-color: #3882F6;
    justify-content: space-around;
    align-items: center; 
    min-width: 1200px;
    height: auto;
    padding: 32px 32px;
    border-radius: 8px;
    box-sizing: border-box;
}

.white-btn {
    border: 2px solid #E5E7EB;
}

.call div:first-child{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.call div:nth-child(2){
    color:#E5E7EB;
    font-size: 18px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color:#F9FAF8;
    padding: 30px 0px;
    font-size: 18px;
}


/* Adding own content*/

/* Update bg-color and text color */
.hero, .footer{
    background-color: #1d4053;
}

.info-head, .cite, .ref {
    color: #1d4053;
}

.main-text, .logo{
    color: #f2f1f7;
}

/* UPdate color */
.sec-text, a{
    color: #d3ced4;
}

.quote{
    background-color: #d3ced4;
}

/* Update bg-color */
.btn, .white-btn, .action{
    background-color:#39a3ca;
}

/*Place img inside div(.my-image). Adjust height. Add shadow */
.my-image {
    box-shadow: 10px 10px 5px #25211e;
    height: 312px;
}

/* Adjust size of img and adjust stretching of img */
.my-image img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

/* Resize to fit .info-image & .subtext */
.sub-content{
    width: 200px;
    height:fit-content;
}

/* resizing */
.info-image, .info-image img{
    width: 200px;
    height: 250px;
    border-radius: 8px;
}

/* Adding size according to content to .subtext */
.subtext{
    width: inherit;
    height:106px;
}

/* Adding more gap between the flex-items of .content. Resize */
.content{
    gap: 100px;
    height: fit-content;
}

/* Replace margin-bottom with padding-bottom to apply background color to .info */
.info{
    margin-bottom: 0px;
    padding-bottom: 120px;
}



